@import "color.scss";

btn {
  margin: 0;
  padding: 0;
}

btn-gen {
  color: $black;
  background-color: $deepskyblue;
}

btn-red {
  color: $white;
  background-color: $crimson;
}

btn-yell {
  color: $white;
  background-color: $yellow;
}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
// btn-{}
