@import "color.scss";

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

center {
  margin-right: auto;
  margin-left: auto;
}

right {
  margin-left: auto;
}

left {
  margin-right: auto;
}

tx-cet {
  text-align: center;
}

tx-rit {
  text-align: right;
}

tx-rert {
  text-align: left;
}

label {
  margin: 0;
  padding: 0;
  background-color: $white;
}

// h1{}

// h2{}

// h3{}

// h4{}

// h5{}

// h6{}
